﻿@model saleswebmvc.Models.ViewModels.SalesRecordFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesRecord.Id" />
            <div class="form-group">
                <label asp-for="SalesRecord.Date" class="control-label"></label>
                <input asp-for="SalesRecord.Date" class="form-control" />
                <span asp-validation-for="SalesRecord.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesRecord.Amount" class="control-label"></label>
                <input asp-for="SalesRecord.Amount" class="form-control" />
                <span asp-validation-for="SalesRecord.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesRecord.Status" class="control-label"></label>
                <input asp-for="SalesRecord.Status" class="form-control" />
                <span asp-validation-for="SalesRecord.Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalesRecord.SellerId" class="control-label"></label>
                <select asp-for="SalesRecord.SellerId" class="form-control" asp-items="@(new SelectList(Model.Seller, "Id", "Name"))"></select>
                <span asp-validation-for="SalesRecord.SellerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
